/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');






/* Elements */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #6b6865;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  font-family: 'Aclonica', sans-serif;
  font-size: 1.5rem;
}

button{
  display: inline-block;
}


hr {
  border: none;
  border-top: 5px solid #fff;
}

li:hover {
    cursor: pointer;
    color:aqua;
}



/* Classes */


/* Main */

.App {
  text-align: center;
  color: #fff;
  font-family: 'Aclonica', sans-serif;
  background-color: #6b6865;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  padding: 0.5rem 0 0.5rem 0;
}

.App-link {
  color: #61dafb;
}


.MainContent{
  padding: 6% 6%;
}

.MainTitle{
  text-align: center;
  font-size: 5rem;
}

.MainText {
  margin: 2rem 2rem;
}


/* Home Page */

.HomeContent {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  padding: 0 10%;
  justify-content: space-evenly;
  align-items: center;
}

.HomeMainText {
  padding-top: 4rem;
  width: 30%;
}

/* Header */

.quizIcon{
  margin-right: 10px;
  font-size: 2em;
}

.main-inputBox {
  width: 20%;
  font-size: 1rem;
  margin: 0 1rem 0 1rem;
}

.main-label {
  font-size: 1.25rem;
}

.btn-login {
  border-radius: 20%;
  margin: 0 0.25em;
  outline: none;
  padding: 0 1em;
}

.btn-login:hover {
  background-color: #92ffa1;
}

.btn-width {
  width: 100%;
}






/* Navigation */

.nav-item {
  font-size: 1.2rem;
}

.nav-brand {
  color: #fff;
}

.nav-brand:hover {
  color:#FFF32D;
}

.nav-flex-bar {
 display: flex;
 justify-content: space-between;
 font-size: 1.25rem;
 margin: 0 10%; 
}

.nav-flex-bar a {
  text-decoration: none;
} 

.nav-user-details {
  align-items: center;
}





/* Questions Section */


.questionsMain {
  display: inline-block;
  text-align: center;
}

.questionsMain h3 {
  padding: 30px;
}

.questionsMain ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

.questions-transition {
  transition: 500ms ease-in-out;
}


/* Question Submission Section */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.questionForm {
  margin-top: 5rem;
}

.questionName-Input {
  width: 70%;
}

textarea.questionName-Input {
  resize: none;
}

.questionInput {
  width: 40%;
}





/* Not Found Page */

.NotFoundFlexContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  justify-content: center;
  align-items: center;
}



/* Images */

.WinnerImage{
  margin: 1.5%;
  width: 415px;
  height: 177px;
}

.QuizImage{
  padding: 60px;
  height: 300px;
  width: 450px;
}

.QuestionImage {
  margin: 1.5%;
  width: 415px;
  max-width: 100%;
}

.TrophyImage {
  margin: 0 1.5%;
  width: 415px;
  max-width: 100%;
}





/* Score Section */

.Score{
  color: #FFF32D;
}

.ScoreWinner{
  color: #92ffa1;
  text-transform: uppercase;
}







/* Footer */

#footer{
  padding: 20px;
  color:white;
  background-color: #282c34;
  margin-top: auto;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.TimeAlign{
  width: 160px;
}

.DateAlign{
  margin-top: 10px;
}

.DateMove{
margin: 0 30px 0 30px;
}

