/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/* Elements */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #6b6865;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  font-family: 'Aclonica', sans-serif;
  font-size: 1.5rem;
}

button{
  display: inline-block;
}


hr {
  border: none;
  border-top: 5px solid #fff;
}

li:hover {
    cursor: pointer;
    color:aqua;
}


/* Classes */

.App {
  text-align: center;
  color: #fff;
  font-family: 'Aclonica', sans-serif;
  background-color: #6b6865;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  display: flex;  
}

.App-link {
  color: #61dafb;
}

.btn-login {
  border-radius: 20%;
  margin: 0 0.25em;
  outline: none;
  padding: 0 1em;
}

.btn-login:hover {
  background-color: #92ffa1;
}

.DateAlign{
    margin-top: 10px;
}

.DateMove{
  margin-right: 30px;
}

.MainContent{
  padding: 6% 6%;
}

.main-inputBox {
  width: 20%;
}

.main-label {
  margin: 10px 10px;
  font-size: 1.25rem;
}



.MainTitle{
  text-align: center;
  font-size: 5rem;
}

.questionsMain {
  display: inline-block;
  text-align: center;
}

.questionsMain h3 {
  padding: 30px;
}

.questionsMain ul {
  display: inline-block;
  list-style-type: none;
}

.quizIcon{
  margin-right: 10px;
}

.QuizImage{
  padding: 60px;
  height: 300px;
  width: 450px;
}

.Score{
  color: #FFF32D;
}

.ScoreWinner{
  color: #92ffa1;
  text-transform: uppercase;
}

.TimeAlign{
  /* position:absolute;
  right: 0%; */
  /* display: inline-block; */
  width: 160px;
  

}

.WinnerImage{
  margin: 1.5%;
  width: 415px;
  height: 177px;
}

/* Id */

#footer{
  padding: 20px;
  color:white;
  background-color: #282c34;
  margin-top: auto;
  width: 100%;
}

